html,
body {
    font-family: 'Inter', sans-serif;
}

#result-box {
    padding-bottom: 15px;
    max-width: calc(100vw - 200px);
}

.input-box {
    display: flex;
    gap: 5px;
    align-items: stretch;
    justify-content: space-between;
}

.absolute-fill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
}

.small-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: black;
    opacity: 0.5;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo {
    background: url(logo.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 255px;
    height: 110px;
    margin-bottom: 10px;
}

input[type=text] {
    border: 1px solid gray;
    width: 200px;
}

.reference {
    display: block;
    margin-top: 5px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.reference:hover {
    background: whitesmoke;
}

.button {
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
}

.button:hover {
    opacity: 1;
}

.dim {
    opacity: 0.5;
}

.example-button {
    cursor: pointer;
}

.example-button:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 800px) {
    #result-box {
        max-width: unset;
    }
}